
*{
  box-sizing: border-box;
}

.row {
    display: flex;
    /* align-items: stretch; */
    /* align-content: space-between;
    justify-content: space-between; */
    /* flex-flow: row nowrap; */
}

.row-wrap {
  /* flex-flow: row wrap; */
}

.col-12 {
  width: 100%;

}
.col-11 {
width: calc(100%/1.09090900364);

}
.col-10 {
  width: calc(100%/1.20000000005);

}
.col-9 {
  width: calc(100%/1.33333333333);

}
.col-8 {
  width: calc(100%/1.500000015);

}
.col-7 {
  width: calc(100%/1.71428571527);

}
.col-6 {
  width: calc(100%/2);

}
.col-5 {
width: calc(100%/2.4000000384);

}
.col-4 {
  width: calc(100%/3);

}
.col-3 {
  width: calc(100%/4);

}
.col-2 {
  width: calc(100%/6.000000024);

}
.col-1 {
  	width: calc(100%/12);

}
[class*="col-"] {
  padding: .25rem;
}
