@import "var.scss";

/*позиционирование надписи*/
.courasel {
  padding-top: 80px;
}
.courasel__content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 130px;
}
.courasel__body .col-6 {
  display: flex;
  justify-content: center;
}

.brace__icon,
.brace__icon-flip {
  fill: $colorGreen;
  height: 120px;
  margin: 0 17px;
}
.brace__icon-flip {
  transform: rotate(180deg);
}

.courasel__para {
  display: flex;
  font-size: 23px;
  margin-top: 10px;
  // height: 45px;
}

/*стилизация*/
.courasel__title {
  font-size: 30px;
  font-family: $fontBold;
  line-height: 40px;
}
.courasel__sale {
  align-self: flex-end;
  color: $colorGreen;
  font-size: 52px;
  font-family: $fontBold;
  padding-left: 10px;
}

/*footer*/
.courasel .container {
  position: relative;
}
.courasel__footer {
  text-align: center;
}
.footer__title {
  font-size: 30px;
  padding-bottom: 30px;
}
.footer__text {
  line-height: 26px;
}
.courasel__footer {
  position: absolute;
  bottom: 0;
}
