@charset "UTF-8";
/*позиционирование надписи*/
.courasel {
  padding-top: 80px; }

.courasel__content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 130px; }

.courasel__body .col-6 {
  display: flex;
  justify-content: center; }

.brace__icon,
.brace__icon-flip {
  fill: #91c47e;
  height: 120px;
  margin: 0 17px; }

.brace__icon-flip {
  transform: rotate(180deg); }

.courasel__para {
  display: flex;
  font-size: 23px;
  margin-top: 10px; }

/*стилизация*/
.courasel__title {
  font-size: 30px;
  font-family: "HelveticaNeueCyr-Bold";
  line-height: 40px; }

.courasel__sale {
  align-self: flex-end;
  color: #91c47e;
  font-size: 52px;
  font-family: "HelveticaNeueCyr-Bold";
  padding-left: 10px; }

/*footer*/
.courasel .container {
  position: relative; }

.courasel__footer {
  text-align: center; }

.footer__title {
  font-size: 30px;
  padding-bottom: 30px; }

.footer__text {
  line-height: 26px; }

.courasel__footer {
  position: absolute;
  bottom: 0; }

/*dots*/
.courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots {
  bottom: 40%;
  width: 25%; }

.courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots li button:before {
  font-size: 13px;
  color: #363636; }

.courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots li {
  margin: 0;
  padding: 0; }

.courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots .slick-active button:before {
  color: #91c47e; }

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  display: none; }

/*@media*/
@media screen and (max-width: 970px) {
  .courasel__title {
    font-size: 25px; }

  .courasel__para {
    font-size: 18px; }

  .courasel__sale {
    font-size: 45px; } }
@media screen and (max-width: 800px) {
  .courasel__title {
    font-size: 20px;
    padding-bottom: 0;
    line-height: 25px; }

  .courasel__para {
    font-size: 14px; }

  .courasel__sale {
    font-size: 40px; }

  .footer__title {
    padding-bottom: 15px; }

  .courasel__content {
    top: 70px; }

  .courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots {
    width: 50%;
    bottom: 50%; } }
@media screen and (max-width: 730px) {
  .courasel__content {
    top: 50px;
    background: radial-gradient(circle, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%); }

  .courasel__footer {
    top: 70%; }

  .brace__icon, .brace__icon-flip {
    height: 100px; }

  .footer__title {
    font-size: 25px; }

  .footer__text {
    line-height: 18px; }

  .courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots {
    width: 100%;
    bottom: 50%; }

  .courasel__footer {
    z-index: 90; }

  .slick-list.draggable {
    min-height: 490px; } }
@media screen and (max-width: 630px) {
  .courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots {
    top: 40%; } }
@media screen and (max-width: 550px) {
  .courasel .container .courasel__slick.slick-initialized.slick-slider.slick-dotted .slick-dots {
    top: 33%; }

  .footer__title {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px; }

  .footer__text {
    line-height: 14px;
    font-size: 13px; } }

/*# sourceMappingURL=style-courasel.css.map */
