img {
  max-width: 100%;
  // min-width: 300px;
  height: auto;
}
.row {
  display: flex;
}

$gradient: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(255,255,255,0) 100%);
$colorGreen: #78b660;
$colorInd: #e2e2e1;
$colorSubmenu1: #d7e9ce;
$colorSubmenu2: #f2f2f2;
$transparentMenuBg: 0.9;
$colorBgSubmenu1: fade-out(rgba($colorSubmenu1, $transparentMenuBg), 0);
$colorBgSubmenu2: fade-out(rgba($colorSubmenu2, $transparentMenuBg), 0);
$colorText: #363636;
$colorTextMenu: #000;
$font14: 14px;
$font: "HelveticaNeueCyr-Thin", sans-serif;
$fontBold: "HelveticaNeueCyr-Bold", sans-serif;
$fontRoman: "HelveticaNeueCyr-Roman", sans-serif;
$border: 2px solid $colorGreen;


.size {
    height: 100vh;
    background: $gradient;
}
@mixin headerMixin {
  // margin-top: 32px;
  display: flex;
  flex-direction: row;

}
header {
  @include headerMixin;
}

.container {
  font-size: $font14;
  color: $colorText;
  font-family: $font;
  font-size: 14px;
  flex-wrap: wrap;
}
.logo {
  max-width: 200px;
  height: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 11px;
  color: #898989;
}
.logo div {
  position: absolute;
  right: 0;
  bottom: 0;
}

@mixin menu {
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  line-height: 26px;
  transition: 1s;
  list-style-type: none;
}
.burger {
  display: none;
}
.menu > ul {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu__link {
  @include menu;

  &:hover {
    border-bottom: $border;
  }
}

@mixin dropMenu ($position: absolute, $padding: 15px 0, $top: 20px, $color: $colorBgSubmenu1, $width: 250px, $zIndex: 10, $display: none) {
  position: $position;
  padding: $padding;
  top: $top;
  background-color: $color;
  width: $width;
  z-index: $zIndex;
  display: $display;
}

.sub-menu__list {
  @include dropMenu;
}
.menu__list li:hover .sub-menu__list {
  display: block;
}

.sub-menu__list li {
  line-height: 26px;
}
.menu .menu__list .menu__link i {
  color: $colorGreen;
  padding-left: 5px;
}
.menu  .menu__list .sub-menu__list .sub-menu__link a {
  position: relative;
  padding: 5px 0;
}
.menu  .menu__list .sub-menu__list .sub-menu__link i {
  color: $colorGreen;
  position: absolute;
  right: 0;
  padding-right: 20px;
  line-height: 26px;
}


.sub-menu__list li:hover .sub-sub-menu__list {
  display: block;
}
.sub-sub-menu__list {
  @include dropMenu;
}
.sub-sub-menu__list {
  top: 0;
  left: 100%;
  background-color: $colorBgSubmenu2;
  height: 100%;
}
.sub-sub-menu__list li {
  line-height: 26px;
}
.sub-menu__link {
  padding-left: 20px;
  display: block;
  width: 100%;
  transition: 1.5s;
}
.sub-menu__link:hover {
  background-color: $colorBgSubmenu2;
}
.sub-sub-menu__link {
  margin-left: 20px;
  transition: 1s;
}
.sub-sub-menu__link:hover {
  border-bottom: $border;
}
.row {
  align-items: center;
}

@mixin contact {
  display: flex;
  flex-direction: column;
}
.contacts {
  @include contact;
  .contacts__text {
    font-family: $fontRoman;
    font-size: 14px;
    align-self: flex-end;
  }
  .contacts__phone {
    font-size: 18px;
  }
}


#flower {
  display: flex;
  align-self: center;
}
/*end of header*/

/*slider*/
.slider__text {

}
.brace {
  fill: $colorGreen;
  margin-right: 17px;
  align-self: center;
}
.brace1 {
  fill: $colorGreen;
  transform: rotate(180deg);
  margin-left: 15px;
  align-self: center;
}
.carousel-item {
  display: flex;
}
.slider__text {
  display: flex;
  align-items: center;
}
.slider_pic {
  width: auto;
}
.slider .container .col-6 {
  display: flex;
  justify-content: center;
}
.slider .container .col-6 .slider__text {
  position: absolute;
  top: 120px;
}

.slider__wrapper {
    height: 670px;
    position: relative;
    z-index: 0
}
.slider__text_position {
  flex-direction: column;
}
.slider__text__title {
  font-family: $fontBold;
  font-size: 30px;
  margin-bottom: 13px;
}
.slider__text__item {
  font-family: $font;
  font-size: 23px;
  display: flex;
}
.slider__text__sale {
  font-family: $fontBold;
  font-size: 52px;
  color: $colorGreen;
  height: 50px;
  align-self: flex-end;
  margin-left: 15px;
}


.slick-dots {
  justify-content: center;
  width: 25%;
  top: 70%;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $colorGreen;
}
.slick-dots li button:before {
  color: $colorInd;
  opacity: 1;
  font-size: 13px;
  margin: 0 4px;
  border: none;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
  display: none !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.footer {
  font-family: $font;
  text-align: center;
  position: absolute;
  bottom: 0;

}
.footer_title {
  font-size: 30px;
  line-height: 100px;
}
.footer_descr {
  font-size: 14px;
}

@media screen and (max-width: 1075px) {
.row {
  align-items: self-start;
}
.burger {
  display: block;
  right: 0;
  fill: $colorText;
  position: absolute;
}
.wrap-menu svg {
  position: relative;
  padding-left: 10px;
}
.col-3.logo, .col-3.contacts {
  justify-content: flex-start;
}
.size .container .row .col-6 {
  order: 1;
  width: 30%;
}
.size .container .row .col-3 {
  order: 2;
}
.size .container .row .col-6 .menu {
  display: none;
}
.sub-menu__list {
  top: 0;
}
.sub-sub-menu__list {
  left: 0;
}
.size .container .row .col-6 .menu.active {
  display: block;
}
.menu__list {
  flex-direction: column;
}

.logo {
    height: 60px;
  }
.logo div {
  font-size: 9px;
}
.size .container .row .col-3 {
  width: 35%;
}

}
@media screen and (max-width: 950px) {
.logo {
    height: 52px;
  }
.slick-dots {
  top: 50%;
}
.slider__text__title {
  font-size: 25px;
}
.slider__text__item {
  font-size: 18px;
}
.slider__text__sale {
  font-size: 45px;
}
.slick-dots {
  width: 50%;
}
.slick-dots li button:before {
  font-size: 20px;
}
}

@media screen and (max-width: 850px) {
  .col-3 {
    width: 100%;
  }
.slider .container .col-6 .slider__text {
    top: 50px;
  }
.slick-dots {
  top: 40%;
  }
.slider__text__title {
  font-size: 20px;
}
.slider__text__item {
  font-size: 15px;
  margin-top: 15px;
}
.slider__text__sale {
  font-size: 40px;
}
.footer_title {
font-size: 20px;
line-height: 40px;
}
}

@media screen and (max-width: 670px) {
header .container .row {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.size .container .row .col-3 {
  width: 100%;
  order:1;
  padding: 10px;
}
.size .container .row .col-6 {
  order: 3;
  padding: 10px;
}
.contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.contacts p {
  margin: 10px;
}
.contacts .contacts__text {
    font-size: 12px;
}
.contacts .contacts__phone {
    font-size: 13px;
}
.slider .container .col-6 .slider__text {
        top: 30px;
      }
.slider__text__title {
  font-size: 17px;
}
.slider__text__item {
  font-size: 12px;
}
.footer_title {
  font-size: 20px !important;
  line-height: 80px;
}
.slick-dots {
  top: 30%;
  width: 50%;
}
.footer_title {
  font-size: 18px;
  line-height: 25px;
}

.slider__text__sale {
  font-size: 25px;
  height: 30px;
}
.footer_title {
  font-size: 18px;
  line-height: 25px;
}
}

@media screen and (max-width: 490px) {
  .footer {
  bottom: 0;
}
.slick-dots {
  top: 27%;
}
.slick-dots li button:before {
  font-size: 15px;
}
}
@media screen and (max-width: 420px) {
.slider_img img {
  display: none;
}
.slick-dots {
  width: 100%;
  top: 23%;
}
.col-6 {
  width: 100%;
}
.footer {
  bottom: 0;
}
.slider_img {
  min-height: 410px;
}

}
